{
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		},
		"project": "./tsconfig.json",
		"ecmaVersion": 2019,
		"sourceType": "module"
	},
	"extends": [
		"kentcdodds",
		"kentcdodds/import",
		"kentcdodds/jest",
		"kentcdodds/react",
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript", 
		"prettier",
		"plugin:@cypress/dev/react"
	],
	"plugins": [
		"react",
		"prettier",
		"@typescript-eslint",
		"react-hooks"
	],
	"rules": {
		"import/named": "off",
		"import/prefer-default-export": "off",
		"jsx-a11y/label-has-for": "off",
		"react/prop-types": "off",
		"import/no-unassigned-import": "off",
		"no-console": "off",
		"jsx-a11y/accessible-emoji": "off",
		"consistent-return": "off",
		"react/jsx-filename-extension": [
			1,
			{
				"extensions": [
					".js",
					".jsx",
					".ts",
					".tsx"
				]
			}
		]
	},
	"env": {
		"browser": true,
		"es6": true,
		"jest": true
	},
	"globals": {
		"Atomics": "readonly",
		"SharedArrayBuffer": "readonly"
	},
	"settings": {
		"import/resolver": {
			"node": {
				"extensions": [
					".js",
					".jsx",
					".ts",
					".tsx"
				]
			},
			"typescript": {}
		}
	}
}